
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="" class="nav-link">
             Uni-Automate
          </a>
        </li>
      </ul>
    </div>
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="https://github.com/hari01584/project__UNIAutoMate__MakeAThon3077" class="nav-link">
             Made with  ❤  by Team CodeChamps
          </a>
        </li>
      </ul>
    </div>
  </footer>
