{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="card card-plain">
    <div class="card-header">
      Complaint Pannel
    </div>
    <div class="card-body">
      <div class="col-lg-16">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title">Pending Complaints</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Room Number
                    </th>
                    <th>
                      Phone Number
                    </th>
                    <th class="text-center">
                      Complaint
                    </th>
                  </tr>
                </thead>
                <tbody>

                  {% for i in complains %}
                  <tr>
                    <td>
                      {{ i.name }}
                    </td>
                    <td>
                      {{ i.roomno }}
                    </td>
                    <td>
                      {{ i.phoneno }}
                    </td>
                    <td class="text-center">
                      {{ i.complaint }}
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>

    </div>
    <!-- <form>
      <label for="name">Name</label><br>
      <input type="text" id="name" name="name"><br>
      <label for="rno">Room Number</label><br>
      <input type="text" id="rno" name="rno"><br>
      <label for="phone">Phone Number</label><br>
      <input type="text" id="phone" name="phone"><br>
      <label for="time">Time at which you want cleaning</label><br>
      <input type="text" id="time" name="time"><br><br>
      <input type="submit" value="Request for cleaning">
    </form> -->


    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Complain here</h5>
          </div>
          <div class="card-body">
            <form action = "" method = "POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-5 pr-md-1">
                  <div class="form-group">
                    <label>Name</label>
                    {{ form.name }}
                  </div>
                </div>
                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>Room Number</label>
                    {{ form.roomno }}
                  </div>
                </div>
                <div class="col-md-4 pl-md-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Phone Number</label>
                    {{ form.phoneno }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 pr-md-1">
                  <div class="form-group">
                    <label>Complaint</label>
                    {{ form.complaint }}
                  </div>
                </div>
                
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Complain</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>


  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
