{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="card card-plain">
      <div class="card-header">
        Room Cleaning
      </div>
      <div class="card-body">
        <div class="col-lg-14">
          <div class="card ">
            <div class="card-header">
              <h4 class="card-title">Pending Cleaning</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table tablesorter " id="">
                  <thead class=" text-primary">
                    <tr>
                      <th>
                        Name
                      </th>
                      <th>
                        Room Number
                      </th>
                      <th>
                        Phone Number
                      </th>
                      <th class="text-center">
                        TIME At which you want cleaning
                      </th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for req in reqList %}

                    <tr>
                      <td>
                        {{ req.name }}
                      </td>
                      <td>
                        {{ req.roomNo }}
                      </td>
                      <td>
                        {{ req.PhoneNo }}
                      </td>
                      <td class="text-center">
                        {{ req.TimeCleaning  }}
                      </td>
                    </tr>

                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>

      </div>


      <form action = "" method = "POST">
          {% csrf_token %}
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h5 class="title">Request for Room Cleaning</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-5 pr-md-1">
                    <div class="form-group">
                      <label>Name</label>
                      {{ form.name }}
                    </div>
                  </div>
                  <div class="col-md-3 px-md-1">
                    <div class="form-group">
                      <label>Room Number</label>
                      {{ form.roomNo }}
                    </div>
                  </div>
                  <div class="col-md-4 pl-md-1">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Phone Number</label>
                      {{ form.PhoneNo }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pr-md-1">
                    <div class="form-group">
                      <label>Time at which you want cleaning</label>
                      {{ form.TimeCleaning }}
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-fill btn-primary">Request for Cleaning</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>


    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initGoogleMaps();
  });
</script>

{% endblock javascripts %}
