{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="card card-plain">
      <div class="card-header">
        Room Cleaning
      </div>
      <div class="card-body">
        <div class="col-lg-14">
          <div class="card ">
            <div class="card-header">
              <h4 class="card-title"> History</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table tablesorter " id="">
                  <thead class=" text-primary">
                    <tr>
                      <th>
                        Name
                      </th>
                      <th>
                        Room Number
                      </th>
                      <th>
                        Phone Number
                      </th>
                      <th class="text-center">
                        TIME At which you want cleaning
                      </th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for req in reqList %}

                    <tr>
                      <td>
                        {{ req.name }}
                      </td>
                      <td>
                        {{ req.roomNo }}
                      </td>
                      <td>
                        {{ req.PhoneNo }}
                      </td>
                      <td class="text-center">
                        {{ req.TimeCleaning  }}
                      </td>
                    </tr>

                    {% endfor %}


                    <!-- <tr>
                      <td>
                        Kamalpreet Singh
                      </td>
                      <td>
                        C-011
                      </td>
                      <td>
                        8360171099
                      </td>
                      <td class="text-center">
                        11 am
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Harishankar Kumar
                      </td>
                      <td>
                        B-604
                      </td>
                      <td>
                        9875784209
                      </td>
                      <td class="text-center">
                        10 am
                      </td>
                    </tr> -->


                  </tbody>
                </table>
              </div>
            </div>
          </div>

      </div>
      <!-- <form>
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="rno">Room Number</label><br>
        <input type="text" id="rno" name="rno"><br>
        <label for="phone">Phone Number</label><br>
        <input type="text" id="phone" name="phone"><br>
        <label for="time">Time at which you want cleaning</label><br>
        <input type="text" id="time" name="time"><br><br>
        <input type="submit" value="Request for cleaning">
      </form> -->



      <form action = "" method = "GET">
          {% csrf_token %}
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h5 class="title">Request for Room Cleaning</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-5 pr-md-1">
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" value="{{ request.user.username }}" name="cname">
                    </div>
                  </div>
                  <div class="col-md-3 px-md-1">
                    <div class="form-group">
                      <label>Room Number</label>
                      <input type="text" class="form-control" name="croomno" >
                    </div>
                  </div>
                  <div class="col-md-4 pl-md-1">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Phone Number</label>
                      <input type="text" class="form-control" name="cphno" >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pr-md-1">
                    <div class="form-group">
                      <label>Time at which you want cleaning</label>
                      <input type="text" class="form-control" name="reqforclean">
                    </div>
                  </div>

                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-fill btn-primary">Request for Cleaning</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>


    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initGoogleMaps();
  });
</script>

{% endblock javascripts %}
